@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@media only screen and ( min-width: 40.063em ) {
  .wrapper {
    height:100%;
  }
  .half {
    height:50%;
    overflow: -moz-scrollbars-vertical;
    overflow-y:scroll;
  }
  .commentary .box {
    padding:.5rem 4rem;
    padding-top:2.5rem;
  }
}
.button.secondary.select {
  background-color: $secondary-button-bg-hover;
}
.ctrl {
  position:absolute;
  top:0;
  right:0;
}
.full{
  height:100%;
  overflow-y:scroll;
}
.columns.imgs {
  background-color:#111;
}
.columns.imgs img{
  padding-top:2rem;
}
.box {
  padding:.5rem 1rem;
  padding-top:2.5rem;
}
.light {
  background-color:#EFEFEF;
}
.caption {
  font-size:.8rem;
  width: 100%;
  text-align:right;
  color:#888;
}
.stain {
  background-color:#DDD;
}
.group {
  margin-top:.5rem;
  margin-bottom:6rem;
}
a.inttext {
  color:#111;
  background-color:#FFAAAA;
  padding:0 .25rem;
}
a.intimg {
  color:#111;
  background-color:#FFFFAA;
  padding:0 .25rem;
}
a.inttarg {
  color:#111;
}
.source {
  margin-bottom:1rem;
}